@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {
  width: 100%;
  text-align: center;
  font-family: 'Roboto', 'Calibri';
}
.App {
  display: flex;
  flex-direction: column;
  background-color: #140b12;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
  background-repeat: repeat;
  max-height: 400rem;
  position: relative;
  padding-bottom: 2em;
  height: 80%;
}

main {
  min-height: 500px;
}
.nav {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  border-bottom: 2px solid rgb(158, 156, 156);
  width: 100%;
  height: 4.5rem;
  background-color: rgba(0, 0, 1, 0.477);
}

.navH1 {
  grid-area: 1 / 2 / 2 / 3;
  position: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  width: 20rem;
}
.navH1:hover{
  color: rgba(125, 119, 119, 0.966);
  
}
.navBtn1 {
  grid-area: 1 / 4 / 2 / 5;
  background-color: transparent;
  color: white;
  border-color: transparent;
  border: 0;
  width: 8rem;
  height: 3rem;
  justify-self: flex-end;
}

.navBtn2 {
  grid-area: 1 / 5 / 2 / 6;
  align-content: flex-end;
  font-family: 'Roboto', 'Calibri';
  border: 0;
  width: 12rem;
  height: 2.5rem;
  justify-self: flex-start;
  margin-right: 1.5rem;

}

.start {
  background-color: grey;
  border: 2px solid black;
}

.divHome {
  display: flex;
  align-items:center;
  padding: 0rem 1rem;
  justify-content:center;
  column-gap: 10rem;
  margin-top: 5rem;
}

.div2{
  display: flex;
  background-color:rgba(202, 196, 196, 0.381);
  width: 8rem;
  height: 12rem;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', 'Calibri';
  text-transform:uppercase;
  color: rgb(212, 212, 212);
  font-size: 1.5rem;
  letter-spacing:.1rem;
  }
.div2:hover{
  border: 1.5px solid rgb(212, 212, 212);;
}

.footer {
  border-top: 2px solid rgb(158, 156, 156);
  position: flex;
  margin-bottom: -2em;
  background-color: rgba(0, 0, 1, 0.477);
  text-align: left;
  padding: 1rem 2rem;
}

.footer > div > button {
  background-color: transparent;
  color: rgb(181, 181, 181);
  border-right: 2px solid rgb(181, 181, 181);
  border-radius: 0%;
  height: 2em;
  align-content: flex-start;
}

.footer > p {
  color: rgb(150, 149, 149);
  margin-left: 1em;
}

.socialstore {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr; */
  display: flex;
  align-items:flex-start;
  padding: 0rem 1rem;
  justify-content: space-between;
}


.social > a > img {
  padding: 1em 1em;
  width: 1.5em;
  height: 1.5em;
  border-color: transparent;
  background-color: transparent;
}


.store > a > img {
  width: 8em;
  height: 2.5em;
  border-color: transparent;
  background-color: transparent;
  padding: 1em 1em;
  justify-content: end;
  margin-top:  -1rem;
}
